﻿/*inactive items in Header*/
/*inactive circle in Step Bar*/
/*inactive bar in Step Bar*/
/*active circle in Step Bar*/
/*active bar in Step Bar*/
/*$color_ShoppingCartIcon: $color_Primary;*/
/*$color_ShoppingCartItem: $color_DimGray;*/
/*Background for active CheckBox*/
/*Content Color for active CheckBox*/
/* Background for not selected CheckBox */
/* Background Hover for CheckBox */
/* Background Disabled for CheckBox */
/* Background Disabled for CheckBox */
/*$font_Primary: $Family_Font;
$font_weight_H1: Light;
$font_size_H1: 55px;
$font_color_H1: $color_Primary;

$font_weight_H2: Bold;
$font_size_H2: 36px;
$font_color_H2: $color_Primary;

$font_weight_H3: Light;
$font_size_H3: 55px;
$font_color_H3: $color_SecondaryText;

$font_weight_H5: Light;
$font_size_H5: 55px;
$font_color_H5: $color_Primary;*/
/*
    validation.scss
*/
input.vanadium-invalid {
    border-color: #FF0000 !important;
    border-style: solid !important;
}

input.vanadium-valid ~ .vanadium-valid-advice {
    display: inline !important;
    color: #008000;
}

select.vanadium-invalid {
    border-color: #FF0000 !important;
    border-style: solid !important;
}

textarea.vanadium-invalid {
    border-color: #FF0000 !important;
    border-style: solid !important;
}

.vanadium-message-value {
    font-style: italic;
    text-decoration: underline;
}

.vanadium-advice {
    font-size: 11px;
    color: #FF0000;
    font-style: italic;
    display: block;
}

    .vanadium-advice .vanadium-invalid {
        color: #FF0000;
    }

        .vanadium-advice.vanadium-invalid * {
            color: #FF0000;
        }

.container.vanadium-valid {
    border-color: #008000 !important;
}

.container.vanadium-invalid {
    border-color: #FF0000 !important;
}
