﻿@model SalaryPresentation.Models.SalaryModels.EmployeeReport

@{
    ViewData["Title"] = "Home Page";
}

<div id="divMessage"></div>
<div class="container border pb-md-2 pt-md-4">
    <div class="form-group row">
        <div class="col-md-2">
            <label>Codigo de empleado:</label>
        </div>
        <div class="col-md-3 row">
            <input class="form-control" type="text" id="txtEmployeeCode">
        </div>
        <div class="col-md-2">
            <button id="btnCalculateBono" type="button" class="btn btn-primary">Buscar</button>
        </div>
        <div class="col-md-1">
            <label>Bono:</label>
        </div>
        <div class="col-md-3 row">
            <input class="form-control" type="text" id="txtBono" readonly="readonly">
        </div>
    </div>
</div>
<div class="container pt-md-4">    
    <div class="form-group row col-md-12">
        <div class="col-md-3 row">
            <input class="form-control" placeholder="Grado" type="text" readonly="readonly" id="txtGrade">
        </div>
        <div class="col-md-5 row">
            <div class="checkbox col-md-1">
                <label><input type="checkbox" value="" id="chkPositionId"></label>
            </div>
            <div class="col-md-2">
                <label>Posición:</label>
            </div>
            <div class="col-md-8">
                @Html.DropDownListFor(x => Model.PositionId
                                       , new SelectList(ViewBag.ListPosition, "Id", "Name")
                                       , htmlAttributes: new
                                       {
                                           @class = "form-control form-control-select2"
                                       ,
                                           @id = "ddlPosition"
                                       ,
                                           disabled = "disabled"
                                       })
            </div>
        </div>
        <div class="col-md-4 row">
            <div class="checkbox col-md-1">
                <label><input type="checkbox" value="" id="chkOfficeId"></label>
            </div>
            <div class="col-md-3">
                <label>Oficina:</label>
            </div>
            <div class="col-md-7">
                @Html.DropDownListFor(x => Model.OfficeId
                                       , new SelectList(ViewBag.ListOffice, "Id", "Name")
                                       , htmlAttributes: new
                                       {
                                           @class = "form-control form-control-select2"
                                       ,
                                           @id = "ddlOffice"
                                       ,
                                           disabled = "disabled"
                                       })
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="text-center col-md-12">
            <button id="btnSearch" type="button" class="btn btn-primary" style="width:20%">Buscar</button>
            <button id="btnRefresh" type="button" class="btn btn-primary" style="width:20%">Todos los datos</button>
        </div>
    </div>
</div>
<table id="tbSalary" class="table table-striped table-bordered display" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th hidden>Grade</th>
            <th hidden>PositionId</th>
            <th hidden>OfficeId</th>
            <th>Código del empleado</th>
            <th>Nombre Completo</th>
            <th>División</th>
            <th>Posición</th>
            <th>Fecha de Inicio</th>
            <th>Cumpleaños</th>
            <th>Número de Identificación</th>
            <th>Salario Total</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.ListSalary != null)
        {
            foreach (var item in ViewBag.ListSalary)
            {
                <tr>
                    <td></td>
                    <td hidden>@item.Grade</td>
                    <td hidden>@item.PositionId</td>
                    <td hidden>@item.OfficeId</td>
                    <td>
                        @item.EmployeeCode
                    </td>
                    <td>
                        @item.EmployeeFullName
                    </td>
                    <td>
                        @item.DivisionName
                    </td>
                    <td>
                        @item.PositionName
                    </td>
                    <td>
                        @String.Format("{0:MMM dd ,yyyy}", item.BeginDate)
                    </td>
                    <td>
                        @String.Format("{0:MMM dd ,yyyy}", item.Birthday)
                    </td>
                    <td>
                        @item.IdentificationNumber
                    </td>
                    <td>
                        @item.TotalSalary
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script>
    $(function () {
        let tableSalary;
        $(function () {
            Fn_Init();
        });

        function Fn_Init() {
            Fn_ClickEvents();
            tableSalary = Fn_CreateDataTable("tbSalary");
        }

        function Fn_ClickEvents() {
            $("#tbSalary").on("click", ".editRow", function () {
                let index = $(this).closest("tr");
                let obj = tableSalary.row(index).data();
                $("#txtGrade").val(obj[1]);
                $("#ddlPosition").val(obj[2]);
                $("#ddlOffice").val(obj[3]);
            });

            $("#btnCalculateBono").click(function () {
                let sendData = { employeeCode: $("#txtEmployeeCode").val() };

                let success = function (objResponse) {
                    if (objResponse.success) {
                        if (objResponse.dataList.length > 0) {
                            $("#txtBono").val(objResponse.custom);
                            var objData = { request: objResponse.dataList };

                            if (tableSalary != undefined && tableSalary != null) {
                                tableSalary.destroy();
                                tableSalary = null;
                            }
                            $('#tbSalary tbody').html("");

                            var tbodyHtml = fn_LoadTemplates("template-salary", objData);
                            $('#tbSalary tbody').html(tbodyHtml);

                            tableSalary = Fn_CreateDataTable("tbSalary");
                        } else {
                            fn_message("e", objResponse.message, "divMessage");
                        }
                    } else {
                        fn_message("i", objResponse.message, "divMessage");
                    }
                };
                let error = function () {
                    console.log("error");
                };

                fn_callmethod("@Url.Action("GetSalariesByEmployeeCode", "Home")", sendData, success, error, 'GET');
            });

            $('#btnRefresh').click(function () {
                location.reload();
            });

            $('#btnSearch').click(function () {
                if ($("#txtGrade").val() == "") {
                    fn_message("i", "Seleccione un empleado por favor.", "divMessage");
                    return;
                };

                var gradeName =  $("#txtGrade").val();
                var officeId = $('#chkOfficeId').prop('checked') ? $("#ddlOffice").val() : 0;
                var positionId = $('#chkPositionId').prop('checked') ? $("#ddlPosition").val() : 0;
                let sendData = { gradeName: gradeName, officeId: officeId, positionId: positionId };

                let success = function (objResponse) {
                    if (objResponse.success) {
                        if (objResponse.dataList.length > 0) {
                            var objData = { request: objResponse.dataList };

                            if (tableSalary != undefined && tableSalary != null) {
                                tableSalary.destroy();
                                tableSalary = null;
                            }
                            $('#tbSalary tbody').html("");

                            var tbodyHtml = fn_LoadTemplates("template-salary", objData);
                            $('#tbSalary tbody').html(tbodyHtml);

                            tableSalary = Fn_CreateDataTable("tbSalary");
                        } else {
                            fn_message("e", objResponse.message, "divMessage");
                        }
                    } else {
                        fn_message("e", objResponse.message, "divMessage");
                    }
                };
                let error = function () {
                    console.log("error");
                };

                fn_callmethod("@Url.Action("GetEmployeeSalaryByParamaters", "Home")", sendData, success, error, 'GET');
            });
        };
    });
</script>

<script type="text/x-handlebars-template" id="template-salary">
    {{# each request}}
    <tr>
        <td></td>
        <td hidden>{{grade}}</td>
        <td hidden>{{positionId}}</td>
        <td hidden>{{officeId}}</td>
        <td>{{employeeCode}}</td>
        <td>{{employeeFullName}}</td>
        <td>{{divisionName}}</td>
        <td>{{positionName}}</td>
        <td>{{formatDate beginDate "short"}} </td>
        <td>{{formatDate birthday "short"}} </td>
        <td>{{identificationNumber}}</td>
        <td>{{totalSalary}}</td>
    </tr>
    {{/each}}
</script>