﻿@model SalaryPresentation.Models.SalaryModels.Salary

@{
    ViewData["Title"] = "Insertar";
}

<div id="divMessage"></div>
<div class="container border pb-md-2 pt-md-4" id="formEmployee">
    <div class="form-group row">
        <div class="col-md-6">
            <div class="form-group row pl-md-3">
                <h4><span class="label label-default">Datos empleado</span></h4>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label>Codigo de empleado:</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control :required :number" type="text" id="txtEmployeeCode">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label>Nombre:</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control :required :alpha" type="text" id="txtEmployeeName">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label>Apellido:</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control :required :alpha" type="text" id="txtEmployeeSurName">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label>Cumpleaños:</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control datepicker :required :date" type="text" id="txtBirthday">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label>Identificación:</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control :required :number" type="text" id="txtIdentificationNumber">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label>Fecha de inicio:</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control datepicker :required :date" type="text" id="txtBeginDate">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label>Oficina:</label>
                </div>
                <div class="col-md-8">
                    @Html.DropDownListFor(x => Model.OfficeId
                                       , new SelectList(ViewBag.ListOffice, "Id", "Name")
                                       , htmlAttributes: new
                                       {
                                           @class = "form-control form-control-select2"
                                       ,
                                           @id = "ddlOffice"
                                       })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label>Division:</label>
                </div>
                <div class="col-md-8">
                    @Html.DropDownListFor(x => Model.PositionId
                                       , new SelectList(ViewBag.ListDivision, "Id", "Name")
                                       , htmlAttributes: new
                                       {
                                           @class = "form-control form-control-select2"
                                       ,
                                           @id = "ddlDivision"
                                       })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label>Posición:</label>
                </div>
                <div class="col-md-8">
                    @Html.DropDownListFor(x => Model.DivisionId
                                       , new SelectList(ViewBag.ListPosition, "Id", "Name")
                                       , htmlAttributes: new
                                       {
                                           @class = "form-control form-control-select2"
                                       ,
                                           @id = "ddlPosition"
                                       })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label>Grado:</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control :required :number" maxlength="2" type="text" id="txtGrade">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row pl-md-3">
                <h4><span class="label label-default">Salario</span></h4>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label>Año:</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control :required :number" maxlength="4" type="text" id="txtYear">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label>Mes:</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control :required :number" maxlength="2" type="text" id="txtMonth">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label>Salario Base:</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control :required :float" maxlength="8" type="text" id="txtSalaryBase" value="0.00">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label>Bono de producción:</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control :required :float" maxlength="8" type="text" id="txtProductionBonus" value="0.00">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label>Bono de Compensación:</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control :required :float" maxlength="8" type="text" id="txtCompensationBonus" value="0.00">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label>Comisión:</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control :required :float" maxlength="8" type="text" id="txtCommission" value="0.00">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label>Contribución:</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control :required :float" maxlength="8" type="text" id="txtContributions" value="0.00">
                </div>
            </div>
            <div class="form-group row pt-md-4">
                <div class="text-center col-md-12">
                    <button id="btnAdd" type="button" class="btn btn-primary">Agregar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group pt-md-4" style="overflow-x: auto">
    <table id="tbSalaries" class="table table-striped table-bordered display" style="width:100%;">
        <thead>
            <tr>
                <th>Acción</th>
                <th hidden>DivisionId</th>
                <th hidden>PositionId</th>
                <th hidden>OfficeId</th>
                <th>Código del empleado</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cumpleaños</th>
                <th>Identificación</th>
                <th>Fecha de Inicio</th>
                <th>Oficina</th>
                <th>Division</th>
                <th>Posición</th>
                <th>Grado</th>
                <th>Año</th>
                <th>Mes</th>
                <th>Salario Base</th>
                <th>Bono Producción</th>
                <th>Bono Compensación</th>
                <th>Comisión</th>
                <th>Contribución</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="form-group row pt-md-4">
        <div class="text-center col-md-12">
            <button id="btnSave" type="button" class="btn btn-success btn-lg">Guardar todos los salarios</button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
    $(function () {
        let tableSalaries;
        $(function () {
            Fn_Init();
        });

        function Fn_Init() {
            Fn_ClickEvents();
            Fn_plugin();
            tableSalaries = $("#tbSalaries").DataTable();
            $("#formEmployee").vali
        }
        function Fn_plugin() {
            $('.datepicker').datepicker("setDate", new Date());
        };

        function Fn_ClickEvents() {
            $("#btnSave").click(function () {
                if (!Fn_IsValidateForm("#formEmployee")) { fn_message('i', 'Por favor ingrese los datos correctamente.', "divMessage"); return; }
                if (tableSalaries.rows().data().length > 0) {
                    let objSalary;
                    var salaryList = [];
                    tableSalaries.rows().data().each(function (value) {
                        objSalary = {
                            DivisionId: value[1]
                            , PositionId: value[2],
                            OfficeId: value[3],
                            EmployeeCode: value[4],
                            EmployeeName: value[5],
                            EmployeeSurname: value[6],
                            Birthday: value[7],
                            IdentificationNumber: value[8],
                            BeginDate: value[9],
                            Grade: value[13],
                            Year: value[14],
                            Month: value[15],
                            BaseSalary: value[16],
                            ProductionBonus: value[17],
                            CompensationBonus: value[18],
                            Commission: value[19],
                            Contributions: value[20],
                        };
                        salaryList.push(objSalary);
                    });

                    var sendData = { salaryList: salaryList };

                    let success = function (objResponse) {
                        if (objResponse.success) {
                            fn_message("s", objResponse.message, "divMessage");
                        } else {
                            fn_message("i", objResponse.message, "divMessage");
                        }
                    };
                    let error = function () {
                        console.log("error");
                    };

                    fn_callmethod("@Url.Action("SaveSalaries", "Home")", sendData, success, error, "post");
                }
                else {
                    fn_message("i", "Por favor ingrese datos del empleado.", "divMessage");
                }
                $('body,html').animate({ scrollTop: 0 }, 500);
            });

            $("#btnAdd").click(function () {
                var message = Fn_validate();
                if (!Fn_IsValidateForm("#formEmployee")) { fn_message('i', 'Por favor ingrese los datos correctamente.', "divMessage"); return; }
                
                if (message != "") { fn_message('i', message, "divMessage"); return; }
                tableSalaries.columns(1).visible(false);
                tableSalaries.columns(2).visible(false);
                tableSalaries.columns(3).visible(false);
                tableSalaries.row.add(["<button type='button' class='btn btn-danger btn-sm btnDelete'>Eliminar</button>",
                    $("#ddlDivision").val(),
                    $("#ddlPosition").val(),
                    $("#ddlOffice").val(),
                    $("#txtEmployeeCode").val(),
                    $("#txtEmployeeName").val(),
                    $("#txtEmployeeSurName").val(),
                    $("#txtBirthday").val(),
                    $("#txtIdentificationNumber").val(),
                    $("#txtBeginDate").val(),
                    $("#ddlOffice option:selected").text(),
                    $("#ddlDivision option:selected").text(),
                    $("#ddlPosition option:selected").text(),
                    $("#txtGrade").val(),
                    $("#txtYear").val(),
                    $("#txtMonth").val(),
                    $("#txtSalaryBase").val(),
                    $("#txtProductionBonus").val(),
                    $("#txtCompensationBonus").val(),
                    $("#txtCommission").val(),
                    $("#txtContributions").val()
                ]).draw();
            });
            $("body").on("click", ".btnDelete", function () {
                tableSalaries.row($(this).closest("tr").get(0)).remove().draw(); 
            });
        };

        function Fn_validate() {
            var message = "";
            if (parseInt($("#txtYear").val()) > 2200 || parseInt($("#txtYear").val()) < 2000) {
                message = "Año inválido.";
            };
            if (parseInt($("#txtMonth").val()) > 12 || parseInt($("#txtYear").val()) < 1) {
                message += "Mes inválido.";
            };
            if (parseFloat($("#txtSalaryBase").val()) <= 0) {
                message += "Ingrese un salario base.";
            };
            return message;
        };
    });
</script>